{% extends 'base.html' %}
{% block content %}

<h1>Creature Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ creature.name }}</span>
    <p>Breed: {{ creature.species }}</p>
    <p>Description: {{ creature.description }}</p>
    {% if creature.diet == 'plants' %}
        <p>Diet: Herbivore</p>
    {% elif creature.diet == 'animals' %}
        <p>Diet: Carnivore</p>
    {% else %}
        <p>Diet: Omnivore</p>
    {% endif %}
  </div>
</div>

{% endblock %}